.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease-in-out;
}

.sidebar.closed {
  width: 60px;
}

.content {
  display: flex;
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

.main-container {
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

/* Fix Content Shrinking Issue */
.sidebar-open .main-container {
  margin-left: 0;
}

.sidebar-closed .main-container {
  margin-left: 0;
}


.dashboard-container {
  width: 90%; /* Increase from default */
  max-width: 1200px; /* Adjust as needed */
  margin: auto;
}
